body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(131, 125, 125);
}

header{          
    justify-content:space-around;
    align-items: center;
    height: 30%;
}

header h1{
    /*margin-left: 30%;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: rgb(114, 14, 14);
    height: 150px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
}


nav{
    text-align: center;
    text-decoration: none; /*Remove a decoração do link*/
}


a{
    /*margin-left: 3px;*/
    text-decoration: none; 
    color: black; /*cor do texto*/
    text-transform: uppercase; /*texto em maiusculo*/
    padding: 10px; /*margin interna*/
    font-weight: bold; /*texo em negrito*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav a:hover{
    color: antiquewhite;
    text-decoration: underline; /*texto sublinhado*/
    
}

footer img{
    margin-left: 25%;
}

.filmes{
    width: 95%;
    margin: auto;
    margin-top: 10%;
}

.filmes section{
    display: flex;
    margin: 30px;
    align-items:flex-end;
}

.filmes section img{
    width: 300px;
   height: 400px;

}
.filmes div{
    padding-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

.rodape{
    background-color: rgb(36, 33, 33);
    height: 260px;
    /*background-image: url("imagem/placa.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}

.home img{
    margin-top: 200px;
    align-items: flex-end;
    margin-left: 420px;
    
}

.filmes strong{
    font-weight: bold;
    font-size: 30px;
}

.rodape p{
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.rodape img{
    width: 50px;


}

.contatos{
    padding-top: 40px;
    display: list-item;
    color:white;
}

.descricao div{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 120px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 60px;
}

.descricao strong{
    font-weight: bold;
    font-size: 28px;
    line-height: 2.0;
}

.catuai img{
    margin: 340px;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: center;
    height: 60%;
    width: 60%;
}

.desc div{
    padding-top: 100px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.desc strong{
    font-weight: bold;
    font-size: 25px;
    color: aliceblue;
}

.estabelecimento h1{
    font-weight: bold;
    font-size: 23px;
    color: aliceblue;
}

.estabelecimento {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
}

.mapa{
    margin-top: 40px;
}

.registro form{
   display: flex;
   flex-direction: column;
   margin-top: 60px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

.registro form input{
    width: 30%;
    height: 30px;
    margin-left: 35%;
    margin-bottom: 20px;
}

textarea{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 80px;
    
}




/*<img src="imagem/geoffrey-moffett-TFRezw7pQwI-unsplash-1-848x477.webp" alt="">*/
/*<img src="imagem/pipoca.png" alt="">*/
/*<p>Cinema - Estreia de Filmes</p>*/


